@charset "UTF-8";
/**
PluginCore by InvisibleDragon

These styles are designed to produce generic WordPress-looking components which are used and understood
by WP users
 */
.plugincore-image-thumb-button {
  height: auto !important;
}

.plugincore-image-thumb-holder {
  width: 8rem;
  height: 8rem;
}
.plugincore-image-thumb-holder img {
  max-width: 100%;
  max-height: 100%;
}

.plugincore-card {
  border: 1px solid #ddd;
  padding: 3px;
  margin: 4px;
}

.plugincore-settings-fields {
  padding: 5px;
}
.plugincore-settings-fields, .plugincore-settings-fields * {
  box-sizing: border-box;
}

.attachment-preview.type-private:after {
  content: "";
  font-family: dashicons;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  background: #FFF;
  border: 1px solid #e14d43;
}

.plugincore-select-multiple ul, .plugincore-select-multiple input {
  max-width: 600px;
}
.plugincore-select-multiple ul {
  margin-top: 0;
}

.plugincore-item-list {
  width: 95%;
}
.plugincore-item-list li {
  border: 1px solid #7e8993;
  border-radius: 4px;
  background: #f5f5f5;
  padding: 0 8px;
  line-height: 2;
  min-height: 30px;
  display: flex;
  align-items: center;
  cursor: move;
}
.plugincore-item-list li span {
  vertical-align: middle;
}

.postbox.plugincore-metabox .inside {
  padding: 0;
  margin: 0 !important;
  overflow: hidden;
}
.postbox.plugincore-metabox .plugincore-panel {
  float: left;
  width: 80%;
}

.plugincore-multi-post-post {
  display: flex;
  margin-bottom: 0.25rem;
}
.plugincore-multi-post-post :first-child {
  flex-grow: 1;
}
.plugincore-multi-post-post button {
  height: 100%;
}

.plugincore-repeater-card {
  border: 1px solid var(--wp-admin-theme-color);
  border-radius: 5px;
  margin: 0.5rem 0;
  display: flex;
  flex-direction: column;
}
.plugincore-repeater-card .plugincore-card-controls {
  padding: 0.5rem;
  background: var(--wp-admin-theme-color);
  border-top-left-radius: 5px;
  display: flex;
  justify-content: flex-start;
  flex-direction: row-reverse;
  align-self: end;
}
.plugincore-repeater-card .plugincore-card-controls button {
  padding: 0.2rem 0.4rem;
  background: #fff;
}
.plugincore-repeater-card .plugincore-card-controls button:hover {
  background: rgba(255, 255, 255, 0.4);
}

.plugincore-form-field {
  padding: 5px 20px 5px 162px !important;
  margin: 6px 0;
}
.plugincore-form-field label {
  float: left;
  width: 150px;
  padding: 0;
  margin: 0 0 0 -150px;
}
.plugincore-form-field fieldset {
  padding: 0;
}
.plugincore-form-field input, .plugincore-form-field input[type=text], .plugincore-form-field ul, .plugincore-form-field li {
  float: none;
}

ul.plugincore-tabs {
  margin: 0;
  width: 20%;
  float: left;
  line-height: 1em;
  padding: 0 0 10px;
  position: relative;
  background-color: #fafafa;
  border-right: 1px solid #eee;
  box-sizing: border-box;
}
ul.plugincore-tabs::after {
  content: "";
  display: block;
  width: 100%;
  height: 9999em;
  position: absolute;
  bottom: -9999em;
  left: 0;
  background-color: #fafafa;
  border-right: 1px solid #eee;
}
ul.plugincore-tabs li {
  margin: 0;
  padding: 0;
  display: block;
  position: relative;
}
ul.plugincore-tabs li a {
  margin: 0;
  padding: 10px;
  display: block;
  box-shadow: none;
  text-decoration: none;
  line-height: 20px !important;
  border-bottom: 1px solid #eee;
}
ul.plugincore-tabs li a span {
  margin-left: 0.618em;
  margin-right: 0.618em;
}
ul.plugincore-tabs li.active a {
  color: #555;
  position: relative;
  background-color: #eee;
}

@keyframes pcLoadingAnimation {
  0% {
    background-color: #eee;
  }
  50% {
    background-color: #ccc;
  }
  100% {
    background-color: #eee;
  }
}
.plugincore-gallery {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(6, 1fr);
  margin-bottom: 0.5rem;
}
.plugincore-gallery > div {
  position: relative;
}
.plugincore-gallery > div.active {
  grid-column: span 2;
  border: 2px solid var(--wp-admin-theme-color);
  padding: 0.25rem;
}
.plugincore-gallery > div button.is-secondary.delete-button {
  position: absolute;
  top: 0;
  right: 0;
  background: #fff;
}
@supports (object-fit: cover) {
  .plugincore-gallery > div img {
    object-fit: cover;
    aspect-ratio: 1/1;
    width: 100%;
  }
  .plugincore-gallery > div img.loading {
    padding: 1.5rem;
  }
}
.plugincore-gallery > div img.loading {
  animation: pcLoadingAnimation 0.8s ease-in-out infinite;
}

.plugincore-settings-wrapper {
  position: relative;
  border: 1px solid #ccc;
  overflow: hidden;
  background-color: #fff;
}

.plugincore-add-between-button {
  justify-content: center;
  width: 100%;
  box-shadow: none !important;
}
.plugincore-add-between-button:hover {
  box-shadow: inset 0 0 0 1px var(--wp-admin-theme-color) !important;
}

.plugincore-notes-sidebar .comment {
  padding: 0.5rem;
  background: var(--wp-admin-theme-color);
  color: white;
}
.plugincore-notes-sidebar .author, .plugincore-notes-sidebar .date {
  text-align: right;
}
.plugincore-notes-sidebar .date {
  margin-bottom: 0.5rem;
}

.plugincore-notes-new {
  display: block;
  width: 100%;
}

/*# sourceMappingURL=admin.css.map */
